---
layout: page
title: blog
permalink: /blog/
---

<!-- Table of all posts -->
<table class="bloglist">
    <thead>
        <tr>
            <th scope="col">timestamp</th>
            <th scope="col">title</th>
            <th scope="col">category</th>
        </tr>
    </thead>

    <tbody>
        {% for p in site.posts %}
        {% assign timestamp = p.date | date: "%d.%m.%Y" %}
        {% assign category = p.categories | where_exp: "item", "item != 'projects'" %}

        <!-- Construct the correct url for the post heading anchor -->
        {% assign post_anchor_url = "" %}
            {% for x in p.categories %}
                {% assign post_anchor_url = post_anchor_url | append: "/" | append: x %}
            {% endfor %}
            
        <tr>
            <td>{{ timestamp }}</td>
            <td><a href="{{ post_anchor_url }}/#{{ p.title | slugify }}">{{ p.title }}</a></td>
            <td>{{ category }}</td>
        </tr>    
        {% endfor %}
    </tbody>
</table>