/*
    PAGE LAYOUT
*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
    max-width: $content-max-width;
    padding: 0 $content-padding;
    margin: 0 auto;
}

.site-header .wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: $header-max-width;
    padding: 0 $content-padding;
    margin: 0 auto;
    line-height: $header-height;
}


/*
    HEADER
*/
.site-header {
    margin-bottom: $content-padding;
}

.site-header * {
    // Clear default styling for <li> and <a>
    text-decoration: none;
    list-style: none;
}

    .breadcrumbs {
        // Hide, but use as a spacer between the logo and burger menu
        visibility: hidden;
        flex: 1;
        padding: 0 $content-padding;
    }

    // Menu toggling logic (using checkbox)
    #menu-btn:not(:checked) ~ .navbar {
        display: none;
    }
    .menu-btn-cb {
        display: none;      // Hide checkbox
    }

    .navbar {
        width: 100%;
        text-align: center;
    }
        .navbar ul {
            padding: 0;
        }
        .navbar a {
            display: block;
            padding: 0 1rem;
        }

@media (min-width: $content-max-width) {     // DESKTOP SIZE
    
    .site-header .wrapper {
        flex-wrap: nowrap;
    }
        .breadcrumbs {
            visibility: visible;
        }

        // Show menu horizontally
        #menu-btn:not(:checked) ~ .navbar {
            display: block;
        }
        .menu-btn {
            display: none;
        }

        .navbar {
            width: auto;
            text-align: left;
        }

        .navbar li {
            display: inline-block;
        }
}


/*
    PAGE ELEMENTS
*/
article {
    padding: $content-padding;
}

h1, 
h2, 
h3, 
h4 {
    margin: 2rem 0 1rem 0;
}

// html {
//     font-size: 100%;    // use browser default font size
// }

// body {
//   margin: 0;
//   color: var(--primary);
//   background-color: var(--background);
//   -webkit-text-size-adjust: 100%;
//       -ms-text-size-adjust: 100%;
// }

// // No `:visited` state is required by default (browsers will use `a`)
// a {
//   color: var(--primary);
//   text-decoration: none;

//   // `:focus` is linked to `:hover` for basic accessibility
//   &:hover,
//   &:focus {
//     color: var(--accent);
//   }

//   strong {
//     color: inherit;
//   }
// }

// img {
//   display: block;
//   max-width: 100%;
//   margin-bottom: var(--spacer);
//   border-radius: var(--border-radius);
// }

// // table {
// //   margin-bottom: 1rem;
// //   width: 100%;
// //   border: 0 solid var(--border-color);
// //   border-collapse: collapse;
// // }

// // td,
// // th {
// //   padding: .25rem .5rem;
// //   border-color: inherit;
// //   border-style: solid;
// //   border-width: 0;
// //   border-bottom-width: 1px;
// // }

// // th {
// //   text-align: left;
// // }

// // thead th {
// //   border-bottom-color: currentColor;
// // }

// mark {
//   padding: .15rem;
//   background-color: var(--yellow-100);
//   border-radius: .125rem;
// }

// ul {
//     margin: 0;
//     padding: 0;
// }

// .site-header {
//     background: var(--primary-80);
//     color: var(--accent);
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
// }

// .site-header * {
//     color: var(--accent);
// }