/*
    GENERAL
*/
body {
    color: $primary;
    background: $background;
}

a {
  color: $primary;
  &:hover,
  &:focus {
    // `:focus` is linked to `:hover` for basic accessibility
    color: $accent;
  }
  strong {color: inherit;}
}

p a {       // Links within a text
    color: $accent;
    &:hover,
    &:focus {
      text-decoration: underline;
      text-decoration-color: $accent;
    }
}

article time {
    color: $primary-light2;
}

.readmore {
    color: $background;
    background: $accent;

    &:hover,
    &:focus {
        color: $primary;
    }
}


/*
    HEADER
*/
.site-header {
    background: $primary-light1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    .site-header a {
        color: $accent;
    }

/*
    FOOTER
*/
.site-footer {
    background: $primary-light1;
    color: $primary-light2;
}

/*
    HOME PAGE
*/

/*
    PROJECTS PAGE
*/
.project-tile p {
    color: $primary-light2;
}

/*
    BLOG PAGE
*/
.bloglist td:nth-child(1),
.bloglist td:nth-child(3) {
    color: $primary-light2;   
}