.site-content {
    max-width: 600px;   // Minima theme (in poole, 45rem is used)
    margin: 0 auto;
}

/* 
    Navbar stuff 
*/
.site-header {
    width: 100%;
    background: red;
}

.wrapper {
    max-width: 1200px;
    background: green;
    margin: 0 auto;
    display: flex;
}

.wrapper * {
    display: inline-block;
    line-height: var(--header-height);
}

.breadcrumbs {
    flex: 1;
    padding: 0 30px;

}

#menu-btn, .menu-btn {
    display: none;
}


/* Mobile navigation menu */
@media all and (max-width: 800px) {
    .menu-btn {
        display: inline-block;
        flex-shrink: 0;
    }
    #menu-btn:not(:checked) ~ .navbar {
        display: none;
    }
    #menu-btn:checked ~ .navbar ul {
        display: flex;
        flex-direction: column;
        z-index: 1;
        background: white;
    }

    .site-header {
        flex-wrap: wrap;
    }
    .navbar {
        width: 100%;
    }
    .navbar ul {
        flex-direction: column;
    }
}