body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
    max-width: 600px;   // Minima theme (in poole, 45rem is used)
    padding: 0 var(--content-padding);
    margin: 0 auto;
}

/* 
    Header stuff 
*/
.site-header {
    margin-bottom: 2rem;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--content-padding);
    display: flex;
    flex-wrap: nowrap;
}

.wrapper * {
    display: inline-block;
    line-height: var(--header-height);
}

.breadcrumbs {
    flex: 1 0 0;
    padding: 0 30px;
    display: flex;
    overflow: hidden;
    white-space: nowrap;
}

.breadcrumbs * {
    font-size: 1rem;
}

#menu-btn, .menu-btn {
    display: none;
}


.navbar {
    flex: 0 0 auto;
}

.navbar li {
    padding: 0 15px;
}


/* Mobile navigation menu */
@media all and (max-width: 800px) {
    .wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu-btn {
        display: inline-block;
    }
    #menu-btn:not(:checked) ~ .navbar {
        display: none;
    }
    #menu-btn:checked ~ .navbar {
        display: inline-block;
    }

    .navbar {
        flex-basis: 100%;
    }
    .navbar * {
        width: 100%;
        text-align: center;
    }
    .breadcrumbs {
        display: none;
    }
}



/*
    Article
*/
article {
    margin: 4rem 0;
}

article h1 {
    margin: 0;
}

article p {
    text-align: justify;
}

article time {
    color: var(--primary-30);
}

.readmore {
    padding: 3px;
    color: var(--background);
    background-color: var(--accent);
}

/*
    Project
*/
.project p {
    color: var(--primary-30);
}


/*
    Blog
*/
.site-content.blog {
    max-width: 800px;
}

.blogpost-list {
    list-style: none;
}

.blogpost-list li {
    display: flex;
    padding: 5px 0;
}

.blogpost-header {
    margin-bottom: 20px;
}

.blogpost-list li :nth-child(1) {
    flex: 0 0 150px;
}
.blogpost-list li :nth-child(2) {
    flex: 0 0 500px;
}
.blogpost-list li :nth-child(3) {
    flex: 0 0 150px;
}

/*
    Footer
*/
.site-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: var(--accent);
    background-color: var(--primary-80);
}