body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1;
    max-width: 600px;   // Minima theme (in poole, 45rem is used)
    padding: 0 var(--content-padding);
    margin: 0 auto;
}

/* 
    Header stuff 
*/
.site-header {
    margin-bottom: 2rem;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 var(--content-padding);
    display: flex;
}

.wrapper * {
    display: inline-block;
    line-height: var(--header-height);
}

.breadcrumbs {
    flex: 1;
    padding: 0 30px;

}

#menu-btn, .menu-btn {
    display: none;
}

.navbar li {
    padding: 0 15px;
}


/* Mobile navigation menu */
@media all and (max-width: 800px) {
    .wrapper {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu-btn {
        display: inline-block;
    }
    #menu-btn:not(:checked) ~ .navbar {
        display: none;
    }
    #menu-btn:checked ~ .navbar {
        display: inline-block;
    }

    .navbar {
        flex-basis: 100%;
    }
    .navbar * {
        width: 100%;
        text-align: center;
    }
    .breadcrumbs {
        display: none;
    }
}



/*
    Article
*/
article {
    margin: 4rem 0;
}

article h1 {
    margin: 0;
}

article p {
    text-align: justify;
}

article time {
    color: var(--primary-30);
}

.readmore {
    color: var(--accent);
}



/*
    Project
*/
.project p {
    color: var(--primary-30);
}


/*
    Footer
*/
.site-footer {
    // position: absolute;
    // bottom: 0;
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: var(--accent);
    background-color: var(--primary-80);
}