/*
    GENERAL
*/
html {
    font-size: 100%;    // use browser default font size
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

h1, h2, h3, h4, h5 {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  line-height: 1.3;
}

/* https://type-scale.com/, major third scale (1.200)  */
h1 {font-size: 2.074rem;}
h2 {font-size: 1.728rem;}
h3 {font-size: 1.44rem;}
h4 {font-size: 1.2rem;}
small, .text_small {font-size: 0.833rem;}

p {
    text-align: justify;
}


/*
    HEADER
*/
.site-header {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
}
.logo, .breadcrumbs {
    font-size: 2.074rem;
    white-space: nowrap;
}

// /* 
//     Header stuff 
// */
// .site-header {
//     font-family: 'IBM Plex Mono', monospace;
//     font-weight: 700;
// }
// .site-header a {
//     text-decoration: none;
// }
// .logo, .breadcrumbs {
//     font-size: 2.074rem;
//     white-space: nowrap;
// }

// .navbar{
//     font-size: 1rem;
// }



// /*
//     Project layout
// */
// .project > h1 {
//     font-size: 2.488rem;
//     text-align: center;
// }
// .project > h2 {
//     font-size: 1rem;
//     font-weight: bold;
// }


// /*
//     Blogpost header
// */
// .blogpost-list a {
//     font-family: 'IBM Plex Mono', monospace;
// }

// .blogpost-header * {
//     color: var(--primary);
// }
// .blogpost-list li {
//     color: var(--primary-30);
// }
// .blogpost-list li a {
//     font-weight: 700;
//     // font-weight: bold;
// }
