
// Layout
$header-height: 5rem;
$header-max-width: 1200px;
$content-padding: 1.2rem;
$content-max-width: 550px;

// Color palette
$primary: #001824;
$accent: #e4b062;
$background: #f6f4f3;

$primary-light: #31444d;
$primary-light: #acb2b5;
