
// Layout
$header-height: 5.5rem;
$header-nav-breakpoint: 900px;
$header-max-width: 1200px;
$page-padding-vertical: 3rem;
$content-padding: 1.2rem;
$content-max-width: 550px;
$content-wide-max-width: 1000px;    // Used in blog page

$gallery-thumb-size: 100px;

// Color palette
$primary: #001824;
$accent: #e4b062;
$background: #f6f4f3;

$primary-light1: #31444d;
$primary-light2: #acb2b5;
