<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>

    <header class="site-header">
      <div class="wrapper">
        <a class="logo" href="{{ '/' | relative_url }}">>Jur.log</a>
        <span class="breadcrumbs">
            <a href="/">~</a>
            {% include breadcrumbs.html %}
        </span>
        <input class="menu-btn-cb" id="menu-btn" type="checkbox">
        <label class="menu-btn" for="menu-btn">BURGER</label>
        <nav class="navbar">
          <ul>
              {% for p in site.navbar_pages %}
              {% assign pp = site.pages | where: "path", p | first %}
              <li><a href="{{ pp.url | relative_url }}">{{ pp.title | escape | downcase }}</a></li>
              {% endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <main class="site-content {{ page.layout }} {{ page.title | slugify }}">
        {{ content }}
    </main>

    <footer class="site-footer">
        <span>This is a footer </span>
    </footer>

  </body>
</html>
