<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>

    <header class="site-header">
      <div class="wrapper">
        <a class="logo" href="{{ '/' | relative_url }}">>Jur.log</a>
        <span class="breadcrumbs">
            <a href="/">~</a>
            {% include breadcrumbs.html %}
        </span>
        <input class="menu-btn-cb" id="menu-btn" type="checkbox">
        <label class="menu-btn" for="menu-btn">BURGER</label>
        <nav class="navbar">
          <ul>
              {% for p in site.navbar_pages %}
              {% assign pp = site.pages | where: "path", p | first %}
              <li><a href="{{ pp.url | relative_url }}">{{ pp.title | escape | downcase }}</a></li>
              {% endfor %}
          </ul>
        </nav>
      </div>
    </header>

    <main class="site-content {{ page.layout }} {{ page.title | slugify }}">
        {{ content }}
    </main>

    <footer class="site-footer">
        <a href="#">
            <img src={{ "/assets/images/github_light_32px.png" | relative_url }} alt="GitHub logo, link to this site's repository">
        </a>
        <a href="#">
            <img src={{ "/assets/images/cc_logo.svg" | relative_url }} alt="Creative commons logo, copyleft">
        </a>
        <p class="text_small">
            The content on this website is licensed under
            <a href="http://creativecommons.org/licenses/by/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer">CC-BY-4.0</a>. <br>
            It's a modern, human-friendly way of managing copyrights reasonably (unlike traditional copyright laws). Check out this 
            <a href="https://www.youtube.com/watch?v=ZbJmQSuNcQ4">video</a> or 
            <a href="https://creativecommons.org/about/cclicenses/">read more</a> about CC.
        </p>
    </footer>

  </body>
</html>
