---
layout: default
---

<h1>{{ page.title }}</h1>

{{ content }}

<!-- Find all project logs -->
{% assign logs = site.posts | where_exp: "item", "item.categories contains page.project" %}
{% if logs.size > 0 %}
    <h2>Project logs</h2>
{% endif %}
{% for l in logs reversed %}
    <article>
        <h1 id="{{ l.title | slugify }}"><a href="#{{ l.title | slugify }}">{{ l.title }}</a></h1>
        <time datetime="{{ l.date | date_to_xmlschema }}">{{ l.date | date: "%d.%m.%Y" }}</time>
        {{ l.content }}
    </article>
{% endfor %}

